{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <h3>Neuron Simulator Dashboard</h3>
    <br>
    <h4>Overview</h4>
    <p>Note: need feedback from the lab about this section </p>
    <br>
  
    <p>
        <a href="{% url 'plot_neural_responses' %}" role="button" class="btn btn-primary w-80 mb-2">Plot neural responses</a>
    </p>
    <hr>
    <br>
    
    <p>Note: keep the following page during early phase of testing, will delete it later</p>
    <p>
        <a href="{% url 'list_input_params' %}" role="button" class="btn btn-primary w-80 mb-2">List input parameters</a>
    </p>
</div>
{% endblock %}

