{% extends "base.html" %}
{% load static %}
{% block title %}Neuron Simulator{% endblock %}

{% block head_extras %}
    {{ block.super }}
    <style>
        #div1 {
            background-color: #f0ebcccb;
        }
    </style>

    <!--form initial values-->
    {{ form_init_dict|json_script:"form_init_dict" }}

    <script>
        // Initialize Bootstrap Tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        function showHideFormFields() {
            //get init values for form parameters
            const form_init_dict = JSON.parse(document.getElementById('form_init_dict').textContent);
            const duration_init_value = form_init_dict["duration"]
            const frequency_init_value = form_init_dict["frequency"]
            const phi0_init_value = form_init_dict["phi0"]
            const tau1_init_value = form_init_dict["tau1"]
            const tau2_init_value = form_init_dict["tau2"]

            // get value for stim_type
            let stim_type_value = document.getElementById("id_stim_type").value;
            let sel_option = document.getElementById("id_stim_type").selectedOptions;

            // show or hide form fields based on stim_type, use inital values for fields with display=none
            if ( stim_type_value  === 'rectangular') {
                document.getElementById("div_duration").style.display='block';
                document.getElementById("div_frequency").style.display='none';
                document.getElementById("div_phi0").style.display='none';
                document.getElementById("div_tau1").style.display='none';
                document.getElementById("div_tau2").style.display='none';
                document.getElementById("id_frequency").value =frequency_init_value;
                document.getElementById("id_phi0").value =phi0_init_value;
                document.getElementById("id_tau1").value =tau1_init_value;
                document.getElementById("id_tau2").value =tau1_init_value;
            } else if ( stim_type_value  === 'sinusoidal') {
                document.getElementById("div_duration").style.display='none';
                document.getElementById("div_frequency").style.display='block';
                document.getElementById("div_phi0").style.display='block';
                document.getElementById("div_tau1").style.display='none';
                document.getElementById("div_tau2").style.display='none';
                document.getElementById("id_duration").value=duration_init_value;
                document.getElementById("id_tau1").value=tau1_init_value;
                document.getElementById("id_tau2").value=tau1_init_value;
            } else if ( stim_type_value  === 'realistic') {
                document.getElementById("div_duration").style.display='none';
                document.getElementById("div_frequency").style.display='none';
                document.getElementById("div_phi0").style.display='none';
                document.getElementById("div_tau1").style.display='block';
                document.getElementById("div_tau2").style.display='block';
                document.getElementById("id_duration").value=duration_init_value;
                document.getElementById("id_frequency").value=frequency_init_value;
                document.getElementById("id_phi0").value =0;
            } else if ( stim_type_value  === 'delta') {
                document.getElementById("div_duration").style.display='none';
                document.getElementById("div_frequency").style.display='none';
                document.getElementById("div_phi0").style.display='none';
                document.getElementById("div_phi0").style.display='none';
                document.getElementById("div_tau2").style.display='none';
                document.getElementById("id_duration").value=duration_init_value;
                document.getElementById("id_frequency").value=frequency_init_value;
                document.getElementById("id_phi0").value=phi0_init_value;
                document.getElementById("id_tau1").value=tau1_init_value;
                document.getElementById("id_tau2").value=tau1_init_value;
            }
        }

        document.addEventListener("DOMContentLoaded",function() {
            showHideFormFields()
        })

        function emptyOutput() {
            // empty output section
            document.getElementById("div_output").innerHTML = "";
        }

        function setTopNToNone() {
            // set top_n to None if response neurons are selected
            document.getElementById("id_top_n").value = "";
        }

        function setRespNeuIDsToNone() {
            // set resp_neu_ids to None
            $('#id_resp_neu_ids').selectpicker('val', 'deselectAll');
        }
    </script>
{% endblock %}

{% block content %}
<div id="intro">
    <!--Webpage introduction --> 
    {% if web_intro %}
        <h4>{{ web_intro }}</h4>
    {% endif %}
    <br>
</div>
<div class="row" id="div0">
    <div class="col-sm-4" id="div1">
        {% if form %}
            <form action="/neuronsimulator/" method="POST" id="form">
               {% csrf_token %}
                <!--handle errors-->
                {% if form.errors %}
                    <!--non-field errors-->
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                 <!--hidden fields-->
                 {% for hidden_field in form.hidden_fields %}
                        {% if hidden_field.errors %}
                            <div class="alert alert-danger">{{ hidden_field.errors }}</div>
                        {% endif %}
                        {{ hidden_field }}
                {% endfor %}
                <!--non-hidden fields-->
                <!--render the fields manually and set display for each field based on inital stim_type-->
                <div id="div_stim_neu_id" style="display:block">
                    <label>{{ form.stim_neu_id.label }}</label>
                    {{ form.stim_neu_id.errors }}
                    {{ form.stim_neu_id }}
                </div>
                <br>
                <div id="div_stim_type" class="form-control"
                    onchange="showHideFormFields(); emptyOutput()">
                    <label>{{ form.stim_type.label }}</label>                   
                    {{ form.stim_type.errors }}
                    {{ form.stim_type }}
                </div>
                <br>
                <div id="div_duration" style="display:block" class="form-control">
                    <label id="label_for_duration" for="duration">{{ form.duration.label }}</label>
                    {{ form.duration.errors }}
                    {{ form.duration }}&nbsp;&nbsp;
                    <i class="far fa-question-circle" data-bs-toggle="collapse" data-bs-target="#id_duration_helptext"></i>
                    <div class="collapse" id="id_duration_helptext">
                        <div class="card card-body">{{ form.duration.help_text }}</div>
                    </div>
                </div>
                <div id="div_frequency" style="display:none" class="form-control">
                    <label id="label_for_frequency" for="frequency">{{ form.frequency.label }}</label>
                    {{ form.frequency.errors }}
                    {{ form.frequency }}&nbsp;&nbsp;
                    <i class="far fa-question-circle" data-bs-toggle="collapse" data-bs-target="#id_frequency_helptext"></i>
                    <div class="collapse" id="id_frequency_helptext">
                        <div class="card card-body">{{ form.frequency.help_text }}</div>
                    </div>
                </div>
                <div id="div_phi0" style="display:none" class="form-control">
                    <label id="label_for_phi0" for="phi0">{{ form.phi0.label }}</label>
                    {{ form.phi0.errors }}
                    {{ form.phi0 }}&nbsp;&nbsp;
                    <i class="far fa-question-circle" data-bs-toggle="collapse" data-bs-target="#id_phi0_helptext"></i>
                    <div class="collapse" id="id_phi0_helptext">
                        <div class="card card-body">{{ form.phi0.help_text }}</div>
                    </div>
                </div>
                <div id="div_tau1" style="display:none" class="form-control">
                    <label id="label_for_tau1" for="tau1">{{ form.tau1.label }}</label>
                    {{ form.tau1.errors }}
                    {{ form.tau1 }}&nbsp;&nbsp;
                    <i class="far fa-question-circle" data-bs-toggle="collapse" data-bs-target="#id_tau1_helptext"></i>
                    <div class="collapse" id="id_tau1_helptext">
                        <div class="card card-body">{{ form.tau1.help_text }}</div>
                    </div>
                </div>
                <div id="div_tau2" style="display:none" class="form-control">
                    <label id="label_for_tau2" for="tau2">{{ form.tau2.label }}</label>
                    {{ form.tau2.errors }}
                    {{ form.tau2 }}&nbsp;&nbsp;
                    <i class="far fa-question-circle" data-bs-toggle="collapse" data-bs-target="#id_tau2_helptext"></i>
                    <div class="collapse" id="id_tau2_helptext">
                        <div class="card card-body">{{ form.tau2.help_text }}</div>
                    </div>
                </div>
                <!--Which Strain-->
                <hr>
                <div id="div_strain_type" style="display:block" class="form-control">
                    <label>{{ form.strain_type.label }}</label>
                    {{ form.strain_type.errors }}
                    {{ form.strain_type }}
                </div>
                <!--responding neurons-->
                <hr>
                <p> Select response neuron(s) or top N responses:
                <i class="far fa-question-circle" data-bs-toggle="collapse" data-bs-target="#id_resp_helptext"></i>
                </p>
                    <div class="collapse" id="id_resp_helptext">
                        <div class="card card-body">
                            <p>Select one or multiple response neurons will automatically deselect top N value. 
                                Enter a value for top N will automatically deselect response neuron(s), and plot top N
                                responses based on rank. The default value for Top N is 0. Unselect both response neurons and top N 
                                will plot responses based on default threshold value.
                            </p>
                        </div>
                    </div>
                <div id="div_resp_neu_ids" style="display:block" onclick="setTopNToNone()"> 
                    <label>{{ form.resp_neu_ids.label }}</label>
                    {{ form.resp_neu_ids.errors }}
                    {{ form.resp_neu_ids }}
                </div>
                <br>
                <div id="div_top_n" onchange="setRespNeuIDsToNone()">
                    <label>{{ form.top_n.label }}</label>
                    {{ form.top_n.errors }}
                    {{ form.top_n }}
                </div>
                <br>
                <div id="div_t_max" class="form-control" style="display:block">
                    <label>{{ form.t_max.label }}</label>
                        {{ form.t_max.errors }}
                        {{ form.t_max }}
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <input id="button_submit" style="display:block" type="submit"
                            value="Plot" class="btn btn-lg btn-primary">
                    </div>
                    <div class="col">
                        <input id="button_startover" style="display:block" type="button"
                            onclick="window.location = window.location.pathname"
                            value="Start Over" class="btn btn-lg btn-primary">
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
    <br>
    <div id="div_output" class="col-sm-8" style="display:block">
        {% include "output_params_plot.html" %}
    </div>
</div>

{% endblock %}

