{% extends "base.html" %}
{% load static %}
{% block title %}FunSim (Beta){% endblock %}

{% block head_extras %}
    {{ block.super }}
    <style>
        #div1 {
            background-color: #f0ebcccb;
        }
    </style>

    <!--form initial values for optional fields-->
    {{ form_opt_field_init_dict|json_script:"form_opt_field_init_dict" }}

    <script>
        // Initialize Bootstrap Tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        // get names and initial values for optional fields
        var form_opt_field_init_dict = JSON.parse(document.getElementById('form_opt_field_init_dict').textContent);

        function showField(field_name) {
            let div_id = 'div_' +  field_name;   
            document.getElementById(div_id).style.display='block';
        }

        function hideField(field_name) {
            let div_id = 'div_' +  field_name;
            document.getElementById(div_id).style.display='none';
        }

        function showHideFormFields() {
            // get value for stim_type
            let stim_type_value = document.getElementById("id_stim_type").value;
            let sel_option = document.getElementById("id_stim_type").selectedOptions;

            Object.entries(form_opt_field_init_dict).forEach((entry) => {
            let [field_name, field_attrs] = entry;
            if ( field_attrs["stim_type"] === stim_type_value) {
                showField(field_name);
            } else {
                hideField(field_name);
            }
            });
        }

        document.addEventListener("DOMContentLoaded",function() {
            showHideFormFields()
        })

        function emptyOutput() {
            // empty output section
            document.getElementById("div_output").innerHTML = "";
        }

        function setTopNToNone() {
            // set top_n to None
            document.getElementById("id_top_n").value = "";

        }

        function setRespNeuIDsToNone() {
            // set resp_neu_ids to None
            $('#id_resp_neu_ids').selectpicker('val', 'deselectAll');
        }

        function setNeuronChoices() {
            var url = $("#form").attr("data-neurons-url");
            $.ajax({
                async: false,
                type: 'GET',
                url: url,
                data:{
                    strain_type: $("#id_strain_type").val(),
                },
                dataType: 'json',
                success: function(data) {
                    var ele1 = document.getElementById("id_stim_neu_id");
                    var ele2 = document.getElementById("id_resp_neu_ids");
                    var ele3 = document.getElementById("id_top_n");
                    // remove all options
                    ele1.options.length = 0;
                    ele2.options.length = 0;
                    // create new option element
                    for(var i=0; i < data.neurons.length; i++)
                    {
                        var option = document.createElement("option");
                        // console.log(data.neurons[i])
                        option.innerHTML = '<option value="' + data.neurons[i] + '">' + data.neurons[i] + '</option>';
                        ele1.innerHTML += option.innerHTML
                        ele2.innerHTML += option.innerHTML
                    }
                    // set top_n max and default values
                    ele3.setAttribute("max", data.neurons.length -1);
                    ele3.setAttribute("value", 10);
                }
            });
            // refresh select options
            $('#id_stim_neu_id').selectpicker('refresh');
            $('#id_stim_neu_id').selectpicker('');
            $('#id_resp_neu_ids').selectpicker('refresh');
            $('#id_resp_neu_ids').selectpicker('deselectAll');
        }

        function reset_form() {
            let text = "Are you sure you want to discard selected parameters for plotting and start over?"
            if (confirm(text) == true) {
                window.location = window.location.pathname
            }
            else {
                return None;
            }
        }
    </script>
{% endblock %}

{% block content %}
<div id="intro">
    <!--Webpage introduction -->
    <p>
        This web-app allows you to simulate responses of downstream neurons to
        the stimulation of other neurons using the functional connectivity data
        measured by <a href="https://doi.org/10.48550/arXiv.2208.04790">Randi et al. (2022)</a>,
        measured via simultaneous single-cell optogenetics and whole-brain imaging.
    </p>
    <p>
        To start, select a neuron to be stimulated and the activity that you want
        to be induced in that neuron (irrespectively of the method of stimulation).
        The "realistic" activity type is an empirical representative activity transient
        following a stimulus, whose shape and duration can be tuned with the two timescales.
        Then select either the neurons whose responses you'd like to plot or the top n most
        responsive neurons.
    </p>
    <p>
        This web-app is an interface to the
        <a href="https://www.github.com/leiferlab/worm-functional-connectivity">
        Worm Functional Connectivity</a> python library that is available on Github.
        At the bottom of the plot, you can obtain the code snippet to replicate the plot
        on your computer.
    </p>
</div>
<br>
<div class="row" id="div0">
    <div class="col-sm-4" id="div1">
        {% if form %}
            <form action="/neuronsimulator/" method="POST" id="form" 
                data-neurons-url="{% url 'load_neurons' %}">
               {% csrf_token %}
                <!--handle errors-->
                {% if form.errors %}
                    <!--non-field errors-->
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                 <!--hidden fields-->
                 {% for hidden_field in form.hidden_fields %}
                        {% if hidden_field.errors %}
                            <div class="alert alert-danger">{{ hidden_field.errors }}</div>
                        {% endif %}
                        {{ hidden_field }}
                {% endfor %}
                <!--non-hidden fields-->
                <!--Which Strain-->
                <br>
                <div id="div_strain_type" style="display:block" class="form-control" 
                    onchange="setNeuronChoices();emptyOutput()">
                    <label>{{ form.strain_type.label }}</label>
                    {{ form.strain_type.errors }}
                    {{ form.strain_type }}
                </div>
                <br>
                <!--render the fields manually and set display for each field based on inital stim_type-->
                <div id="div_stim_neu_id" style="display:block">
                    <label class="fw-bold text-danger">{{ form.stim_neu_id.label }}</label>
                    {{ form.stim_neu_id.errors }}
                    {{ form.stim_neu_id }}
                </div>
                <br>
                <div id="div_stim_type" class="form-control"
                    onchange="showHideFormFields(); emptyOutput()">
                    <label>{{ form.stim_type.label }}</label>                   
                    {{ form.stim_type.errors }}
                    {{ form.stim_type }}
                </div>
                <br>
                <p>Activity waveform temporal shape
                <i class="far fa-question-circle" data-bs-toggle="collapse" data-bs-target="#waveform_helptext"></i>
                </p>
                    <div class="collapse" id="waveform_helptext">
                        <div class="card card-body">
                            <p>For "realistic" activity type, timescale 1 and 2 are the timescales of
                                the two decaying exponentials whose difference is the activity waveform.
                            </p>
                        </div>
                    </div>
                <!-- optional fields-->
                {% for field in form.visible_fields %}
                    {% if field.name in opt_field_names %}
                        <div id="div_{{ field.name }}" style="display:none" class="form-control">
                            <label id="label_for_{{ field.name }}" for="{{ field.name }}">{{ field.label }}</label>
                            {{ field.errors }}
                            {{ field }} &nbsp;&nbsp;
                            <i class="far fa-question-circle" data-bs-toggle="collapse" data-bs-target="#id_{{ field.name }}_helptext"></i>
                            <div class="collapse" id="id_{{ field.name }}_helptext">
                                <div class="card card-body">{{ field.help_text }}</div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <!--responding neurons-->
                <br>
                <p> Select neurons to plot:
                <i class="far fa-question-circle" data-bs-toggle="collapse" data-bs-target="#id_resp_helptext"></i>
                </p>
                    <div class="collapse" id="id_resp_helptext">
                        <div class="card card-body">
                            <p>Selecting one or multiple response neurons will automatically deselect top N value. 
                                Entering a value for top N and deselect all response neuron(s), top N responses will 
                                be plotted. The default value for Top N is 10. Unselecting both response neurons and top N 
                                will plot responses based on default threshold value.
                            </p>
                        </div>
                    </div>
                <div id="div_resp_neu_ids" style="display:block" onclick="setTopNToNone()"> 
                    <label>{{ form.resp_neu_ids.label }}</label>
                    {{ form.resp_neu_ids.errors }}
                    {{ form.resp_neu_ids }}
                </div>
                <p class="fw-bold text-danger">or</p>
                <div id="div_top_n">
                    <label>{{ form.top_n.label }}</label>
                    {{ form.top_n.errors }}
                    {{ form.top_n }}&nbsp;&nbsp;
                    <i class="far fa-question-circle" data-bs-toggle="collapse" data-bs-target="#id_top_n_helptext"></i>
                    <div class="collapse" id="id_top_n_helptext">
                        <div class="card card-body">{{ form.top_n.help_text }}</div>
                    </div>
                </div>
                <br>
                <div id="div_t_max" class="form-control" style="display:block">
                    <label>{{ form.t_max.label }}</label>
                        {{ form.t_max.errors }}
                        {{ form.t_max }}
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <input id="button_startover" style="display:block" type="button"
                            onclick="reset_form()"
                            value="Clear All" class="btn btn-outline-primary">
                    </div>
                    <div class="col">
                        <input id="button_submit" style="display:block" type="submit"
                            value="Plot" class="btn btn-lg btn-primary">
                    </div>
                </div>
                <div class="row">
                    <p class="text-danger">Note: please select at least a stimulated neuron before plotting</p>
                </div>
            </form>
        {% endif %}
    </div>
    <div id="div_output" class="col-sm-8" style="display:block">
        {% include "output_params_plot.html" %}
    </div>
</div>

{% endblock %}
