{% load static %}

<!-- Navbar -->
<!--ref:  https://getbootstrap.com/docs/5.0/components/navbar/-->
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #eee8c0cb;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Icahn Laboratory" width="30" height="24">
           FunSim (Beta) 
        </a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://github.com/leiferlab/worm-functional-connectivity#readme">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://github.com/leiferlab/worm-functional-connectivity">Python Software Library</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://funconn.princeton.edu/">FunCoNN</a>
            </li>
        </ul>
    </div>
</nav>
