{% extends "base.html" %}
{% load static %}
{% block title %}List Input{% endblock %}

{% block head_extras %}
    {{ block.super }}
    <link href="{% static 'vanillaSelectBox/vanillaSelectBox.css' %}" rel="stylesheet">

    <style>
        .select-zone {
            display: block;
            width: 100%;
            min-height: 200px;
        }
        label {
            display: inline-block;
            min-width: 220px;
            width: 220px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h5>Select neurons as input parameters:</h5>
        <br>
        <div class="select-zone">
            <label>Select a neuron:</label>
            <select id="one-neuron">
                {% for neuron in neurons %}
                    <option value="{{ neuron.name }}">{{ neuron.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="select-zone">
            <label>Select one or more neuron(s):</label>
            <select id="multi-neurons" multiple="" size="12" style="display: inline-block;">
                {% for neuron in neurons %}
                    <option value="{{ neuron.name }}">{{ neuron.name }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div><input type="button" class="btn btn-secondary" onclick="getSelectedValues()"
            value="Add selected neurons to parameter list"></div>
        <br>
        <div>
        {% if form %}
            <form action="" method="POST" id="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-control">
                        <label>{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                        <small class="form-text">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <br>
                <input type="submit" value="Verify and output selected parameters (will be replaced by a button for plot)" class="btn btn-lg btn-info"> 
            </form>
        {% endif %}   
        </div>
    
        <div>
        {% if params %} 
            <h5>Parameters after passing validations:</h5>
            <p>stim_neuron_id: {{ params.stim_neuron }}</p>
            <p>resp_neuron_ids: {{ params.resp_neurons }}</p>
            <p>nt: {{ params.nt }}</p>
            <p>dt: {{ params.dt }}</p>
            <p>stim_type: {{ params.stim_type }}</p>
            <p>dur: {{ params.dur }}</p>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block js_extras %}
    {{ block.super }}
    <script src="{% static 'vanillaSelectBox/vanillaSelectBox_mod.js' %}"></script>
    <script>

        let selectOneNeuron = new vanillaSelectBox("#one-neuron",{ 
            "maxHeight": 150,
            "search": true,
            "placeHolder": "Select or type to search a neuron",
            translations: { "all": "All", "items": "Neurons" }
        });
    
        let selectMultiNeurons = new vanillaSelectBox("#multi-neurons",{
            "maxOptionWidth":120, 
            "maxHeight": 200,
            "search": true,
            "placeHolder": "Select or type to search neurons",
            translations: { "all": "All", "items": "Neurons", "selectAll":"Select All","clearAll":"Clear All"}
        });

        function getSelectedValues(){
            let oneNeuronChoice = document.getElementById("one-neuron").value;
            id_stim_neuron.value= oneNeuronChoice;

            let options = document.getElementById("multi-neurons").selectedOptions;
            let multiNeuronsChoices = Array.from(options).map(({ value }) => value);
            //console.log(multi-neuronsChoices);
            id_resp_neurons.value= multiNeuronsChoices;

            return { oneNeuronChoice, multiNeuronsChoices }
        }

    </script>
{% endblock %}
